@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&family=Playfair+Display:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 150vw;
    min-width: 320px;
}
header{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 5vw;
    font-size: 0.90vw;
    font-weight: 500;
    color: #9767A9;
    background-color: white;
    padding: 0px 80px 0px 80px;
    position: fixed;
    z-index: 1;
}
.logo img{
    width: 7vw;
}
.menuHamburguer{
    display: none;
}
header nav{
    align-items: center;
    width: 63%;
    padding: 0px 25px 0px 25px;
}
header ul{
    display: flex;
    justify-content: space-evenly;
}
header li{
    list-style: none;
    display: flex;
}
header li:hover{
    font-weight: bold;
    cursor: pointer;
}
input{
    border-radius: 15px;
    height: 2vw;
    width: 12vw;
    color: #9767A9;
    border: solid 2px;
    padding-left: 4px;
    text-indent: 15%;
    font-size: 0.90vw;
}
header input::placeholder{
    color: #9767A9;
    background-image: url('./lupa.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 80%;
}
.socialNetworks{
    display: flex;
    justify-content: space-evenly;
    width: 12%;
}
main{
    margin: auto;
}
.socialNetworks img{
    width: 2.30vw;
}
.firstSection{
    height: 62vh;
    background-image: url('./imagens desafio final/urn_aaid_sc_US_0e3d95bd-b65a-48ea-8d0c-a3ea5e85703d.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.firstSection h1{    
    font-family: 'Playfair Display', sans-serif;
    font-size: 7.5vh;
    width: 29vw;
    height: 30%;
    position: absolute;
    right: 55vw;
    line-height: 100%;
    top: 48%;
}
.firstSection h2{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.90vh;
    width: 25%;
    height: 10%;  
    position: absolute;
    right: 12vw;
    top: 55%;
}
.secondSection{
    background-color: #9767A9;
    height: 32vh;
    display: flex;
    color: white;
}
.secondSection h3{
    font-family: 'Playfair Display';
    width: 57%;
    font-size: 43px;
    display: flex;
    padding: 15px 0px 0px 80px;
}
.paragraph{
    font-family: 'Montserrat', sans-serif;
    width: 39%;
    height: 100%;
    font-size: 18px;
    font-weight: 100;
    padding: 20px 0px 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.thirdSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 55px 0px 55px;
    position: relative;
}

div{
    width: 30vw;
    height: 25vw;
    display: flex;
    background-color: #9767A9;
    color: white;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.46vh;
    flex-direction: column;
    padding: 18px 25px 18px 25px;
}
div h5{
    font-size: 3.19vh;
    font-family: 'Playfair Display';
}
.fotoOne img{
    width: 42vw;
    position: relative;
    right:  3vw;
    bottom: 4vw;
}
.textOne{
    position: absolute;
    right: 56vw;
    top: 32vh;
}
.fotoTwo img{
    width: 42vw;
    position: absolute;
    left: 50vw;
    top:16vw;
}
.textTwo{
    position: absolute;
    left: 56vw;
    top: 41vw;
    height: 21vw;
}
.fotoThree img{
    width: 42vw;
    position:absolute;
    top: 51vw;
    right: 50vw;   
}
.textThree{
    position: absolute;
    right: 56vw;
    top: 76vw;
    height: 18vw;
}
.fotoFour img{
    width: 42vw;
    position:absolute;
    top: 68.5vw;
    left: 50vw;
}
.textFour{
    position: absolute;
    left: 56vw;
    top: 100vw;
    height: 19vw;
}
.fotoFive img{
    width: 42vw;
    position:absolute;
    top: 103.5vw;
    right: 50vw;
}
.textFive{
    position: absolute;
    right: 56vw;
    top: 128vw;
    height: 20vw;
}
.fotoSix img{
    width: 42vw;
    position:absolute;
    left: 50vw;
    top: 122vw;
}
.textSix{
    position: absolute;
    left: 56vw;
    top: 152vw;
    height: 18vw;
}
.fotoSeven img{
    width: 42vw;
    position:absolute;
    right: 50vw;
    top: 157vw;
}
.textSeven{
    position: absolute;
    right: 56vw;
    top: 181.8vw;
    height: 15vw;
}
.fotoEight img{
    position: absolute;
    left: 55.5vw;
    top: 180vw;
    width: 30vw;
}

@media (max-width:500px){
    header{
        height: 8vw;
    }
    .logo img{
        width: 12vw;
    }
    .menuHamburguer{
        display: flex;
        position: absolute;
        height: 8vw;
        right: 90.5%;
    }
    header nav{
        display: none;
    }
    input{
        display: none;
    }
    .socialNetworks{
        display: none;
    }
    .firstSection{
        background-position: 31%;
        background-size: cover;
        background-attachment: scroll;
    }
    .firstSection h1{
        position: absolute;
        top: 15%;
        right: 45%;
        font-size: 8vh;
        width: 230px;
        line-height: 60px;
        letter-spacing: 2px;
    }
    .firstSection h2{
        position: absolute;
        top: 49%;
        right: 43%;
        width: 230px;
        font-size: 21px;
    }
    .secondSection{
        flex-direction: column;
        align-items: center;
        height: 57vh;
    }
    .secondSection h3{
        width: 100%;
        font-size: 3.5vh;
        width: 52vh;
        padding: 0px 0px 0px 17px;
    }
    .secondSection p{
        font-size: 2.3vh;
        padding: 0px 0px 25px 0px;
        width: 51vh;
    }
    .thirdSection{
        position: relative;
    }
    div h5{
        font-size: 3vh;
        width: 45vh;
        padding: 0px 20px 5px 25px;
    }
    .fotoOne img{
        position: absolute;
        width:82vw;
        top: 3vw;
        right: 9vw;
    }
    .textOne p{
        padding: 0px 20px 15px 25px;
        width: 53vh;
    }
    .textOne{
        position: absolute;
        left: 0.1px;
        font-size: 2.3vh;
        width: 100%;
        height: 65vh;
    }
    .fotoTwo img{
        position: absolute;
        width:82vw;
        top:158vw;
        left: 9vw;
    }
    .textTwo{
        position: absolute;
        left: 0.1px;
        top:216vw;
        width: 100%;
        height: 65vh;
    }
    .textTwo p{
        padding: 0px 20px 15px 25px;
        width: 53vh;
        font-size: 2.3vh;
    }
    .fotoThree img{
        position: absolute;
        width: 82vw;
        top: 323vw;
        left: 9vw;
    }
    .textThree{
        left: 0.1px;
        top: 376vw;
        width: 100%;
        height: 38vh;
        font-size: 2.3vh;
    }
    .textThree p{
        padding: 0px 20px 0px 25px;
    }
    .fotoFour img{
        position: absolute;
        top: 440vw;
        width: 82vw;
        left: 9vw;
    }
    .textFour{
        position: absolute;
        left: 0.1px;
        top:504vw;
        width: 100%;
        height: 40vh;
    }
    .textFour h5{
        width: 47vh;
    }
    .textFour p{
        font-size: 2.3vh;        
        padding: 0px 20px 0px 25px;
    }
    .fotoFive img{
        position: absolute;
        top: 571vw;
        width: 82vw;
        left: 9vw;
    }
    .textFive{
        position: absolute;
        left: 0.1px;
        top: 620vw;
        width: 100%;
        height: 49vh;
    }
    .textFive p{
        font-size: 2.3vh;        
        padding: 0px 20px 0px 25px;
    }
    .fotoSix img{
        position: absolute;
        top: 702vw;
        width: 82vw;
        left: 9vw;
    }
    .textSix{
        position: absolute;
        left: 0.1px;
        top: 763vw;
        width: 100%;
        height: 40vh;
    }
    .textSix p{
        font-size: 2.3vh;        
        padding: 0px 20px 0px 25px;
    }
    .fotoSeven img{
        position: absolute;
        top: 830vw;
        width: 82vw;
        left: 9vw;
    }
    .textSeven{
        position: absolute;
        left: 0.1px;
        top:887vw;
        width: 100%;
        height: 34vh;
    }
    .textSeven p{
        font-size: 2.3vh;        
        padding: 0px 20px 0px 25px;
    }
    .fotoEight img{
        position:absolute;
        top: 950vw;
        width: 50vw;
        left: 23vw;
    }
}
