@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&family=Playfair+Display:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 150vw;
    min-width: 320px;
}
header{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 5vw;
    font-size: 0.90vw;
    font-weight: 500;
    color: #9767A9;
    background-color: white;
    padding: 0px 80px 0px 80px;
    position: fixed;
    z-index: 1;
}
.logo img{
    width: 7vw;
}
.menuHamburguer{
    display: none;
}
header nav{
    align-items: center;
    width: 63%;
    padding: 0px 25px 0px 25px;
}
header ul{
    display: flex;
    justify-content: space-evenly;
}
header li{
    list-style: none;
    display: flex;
}
header li:hover{
    font-weight: bold;
    cursor: pointer;
}
input{
    border-radius: 15px;
    height: 2vw;
    width: 12vw;
    color: #9767A9;
    border: solid 2px;
    padding-left: 4px;
    text-indent: 15%;
    font-size: 0.90vw;
}
header input::placeholder{
    color: #9767A9;
    background-image: url('./lupa.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 80%;
}
.socialNetworks{
    display: flex;
    justify-content: space-evenly;
    width: 12%;
}
.socialNetworks img{
    width: 2.30vw;
}
.firstSection{
    height: 62vh;
    background-image: url('https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:0e3d95bd-b65a-48ea-8d0c-a3ea5e85703d;revision=0?component_id=ec6992a0-8ed9-4083-8163-81b563f8b4a9&api_key=CometServer1&access_token=1653635988_urn%3Aaaid%3Asc%3AUS%3A0e3d95bd-b65a-48ea-8d0c-a3ea5e85703d%3Bpublic_68192b8eb667ff1fc1d3081d3132bb0da034558a');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.firstSection h1{    
    font-family: 'Playfair Display', sans-serif;
    font-size: 7.5vh;
    width: 29vw;
    height: 30%;
    position: absolute;
    right: 55vw;
    line-height: 100%;
    top: 48%;
}
.firstSection h2{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    width: 25%;
    height: 10%;  
    position: absolute;
    right: 12vw;
    top: 55%;
}
.secondSection{
    background-color: #9767A9;
    height: 32vh;
    display: flex;
    color: white;
}
.secondSection h3{
    font-family: 'Playfair Display';
    width: 57%;
    font-size: 43px;
    display: flex;
    padding: 15px 0px 0px 100px;
}
.secondSection p{
    font-family: 'Montserrat', sans-serif;
    width: 39%;
    font-size: 18px;
    font-weight: 100;
    padding: 32px 0px 0px 30px;
}
.thirdSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 55px 0px 55px;
    position: relative;
}

div{
    width: 30vw;
    height: 25vw;
    display: flex;
    background-color: #9767A9;
    color: white;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 13px;
    flex-direction: column;
    padding: 18px 25px 18px 25px;
}
div h5{
    font-size: 28px;
    font-family: 'Playfair Display';
}
.fotoOne img{
    width: 42vw;
    position: relative;
    right:  3vw;
    bottom: 4vw;
}
.textOne{
    position: absolute;
    right: 56vw;
    top: 32vh;
}
.fotoTwo img{
    width: 42vw;
    position: absolute;
    left: 50vw;
    top:16vw;
}
.textTwo{
    position: absolute;
    left: 56vw;
    top: 41vw;
    height: 21vw;
}
.fotoThree img{
    width: 42vw;
    position:absolute;
    top: 51vw;
    right: 50vw;   
}
.textThree{
    position: absolute;
    right: 56vw;
    top: 76vw;
    height: 18vw;
}
.fotoFour img{
    width: 42vw;
    position:absolute;
    top: 68.5vw;
    left: 50vw;
}
.textFour{
    position: absolute;
    left: 56vw;
    top: 100vw;
    height: 19vw;
}
.fotoFive img{
    width: 42vw;
    position:absolute;
    top: 103.5vw;
    right: 50vw;
}
.textFive{
    position: absolute;
    right: 56vw;
    top: 128vw;
    height: 20vw;
}
.fotoSix img{
    width: 42vw;
    position:absolute;
    left: 50vw;
    top: 122vw;
}
.textSix{
    position: absolute;
    left: 56vw;
    top: 152vw;
    height: 18vw;
}
.fotoSeven img{
    width: 42vw;
    position:absolute;
    right: 50vw;
    top: 157vw;
}
.textSeven{
    position: absolute;
    right: 56vw;
    top: 181.8vw;
    height: 15vw;
}
.fotoEight img{
    position: absolute;
    left: 55.5vw;
    top: 180vw;
    width: 30vw;
}

@media screen and (min-width:425px) and (max-width:600px){
    header{
        height: 8vw;
    }
    .logo img{
        width: 12vw;
    }
    .menuHamburguer{
        display: flex;
        position: absolute;
        height: 8vw;
        right: 90.5%;
    }
    header nav{
        display: none;
    }
    input{
        display: none;
    }
    .socialNetworks{
        display: none;
    }
    .firstSection{
        background-position: 35%;
        background-size: cover;
        background-attachment: scroll;
    }
    .firstSection h1{
        position: absolute;
        top: 13%;
        right: 44%;
        font-size: 8vh;
        width: 230px;
        line-height: 60px;
        letter-spacing: 2px;
    }
    .firstSection h2{
        position: absolute;
        top: 49%;
        right: 43.5%;
        width: 230px;
        font-size: 21px;
    }
    .secondSection{
        flex-direction: column;
        align-items: center;
        height: 55vh;
    }
    .secondSection h3{
        width: 100%;
        font-size: 24px;
        width: 350px;
        padding: 0%;
        text-align: center;
        text-align: left;
    }
    .secondSection p{
        font-size: 15px;
        padding: 0%;
        width: 350px;
        padding-top: 5%;
    }
    .thirdSection{
        position: relative;
    }
    .fotoOne img{
        position: absolute;
        width:70vw;
        top: 3vw;
        right: 13vw;
    }
    .textOne{
        position: absolute;
        left: 0.1px;
        width: 96.5vw;
        height: 55vh;
    }
    .fotoTwo img{
        position: absolute;
        width:70vw;
        top:119vw;
        left: 13.5vw;
    }
    .textTwo{
        position: absolute;
        left: 0.1px;
        top:169vw;
        width: 96.5vw;
        height: 55vh;
    }
    .fotoThree img{
        position: absolute;
        width: 70vw;
        top: 245vw ;
        left: 13.5vw;
    }
    .textThree{
        left: 0.1px;
        top: 291vw;
        width: 96.5vw;
        height: 40vh;
    }
    .fotoFour img{
        position: absolute;
        top: 347vw;
        width: 70vw;
        left: 13.5vw;
    }
    .textFour{
        position: absolute;
        left: 0.1px;
        top: 402vw;
        width: 96.5vw;
        height: 40vh;
    }
    .fotoFive img{
        position: absolute;
        top: 458vw;
        width: 70vw;
        left: 13.5vw;
    }
    .textFive{
        position: absolute;
        left: 0.1px;
        top: 500vw;
        width: 96.5vw;
        height: 45vh;
    }
    .fotoSix img{
        position: absolute;
        top: 563vw;
        width: 70vw;
        left: 13.5vw;
    }
    .textSix{
        position: absolute;
        left: 0.1px;
        top: 615vw;
        width: 96.5vw;
        height: 45vh;
    }
    .fotoSeven img{
        position: absolute;
        top: 678vw;
        width: 70vw;
        left: 13.5vw;
    }
    .textSeven{
        position: absolute;
        left: 0.1px;
        top: 727vw;
        width: 96.5vw;
        height: 45vh;
    }
    .fotoEight img{
        position:absolute;
        top: 795vw;
        width: 60vw;
        left: 18vw;
    }
}
