@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&family=Playfair+Display:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 150vw;
    min-width: 320px;
}

header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 5vw;
    font-size: 0.90vw;
    font-weight: 500;
    color: #9767A9;
    background-color: white;
    padding: 0px 80px 0px 80px;
    position: fixed;
    z-index: 1;
}

.logo img {
    width: 7vw;
}

.menuHamburguer {
    display: none;
}

header nav {
    align-items: center;
    width: 63%;
    padding: 0px 25px 0px 25px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

header li {
    list-style: none;
    display: flex;
}

header li:hover {
    font-weight: bold;
    cursor: pointer;
}

input {
    border-radius: 15px;
    height: 2vw;
    width: 12vw;
    color: #9767A9;
    border: solid 2px;
    padding-left: 4px;
    text-indent: 15%;
    font-size: 0.90vw;
}

header input::placeholder {
    color: #9767A9;
    background-image: url('./imagens desafio final/lupa.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 80%;
}

.socialNetworks {
    display: flex;
    justify-content: space-evenly;
    width: 12%;
}

main {
    margin: auto;
}

.socialNetworks img {
    width: 2.30vw;
}

.firstSection {
    height: 62vh;
    background-image: url('./imagens desafio final/urn_aaid_sc_US_0e3d95bd-b65a-48ea-8d0c-a3ea5e85703d.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.firstSection h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 7.5vh;
    width: 29vw;
    height: 30%;
    position: absolute;
    right: 55vw;
    line-height: 100%;
    top: 48%;
}

.firstSection h2 {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.90vh;
    width: 25%;
    height: 10%;
    position: absolute;
    right: 12vw;
    top: 55%;
}

.secondSection {
    background-color: #9767A9;
    height: 32vh;
    display: flex;
    color: white;
}

.secondSection h3 {
    font-family: 'Playfair Display';
    width: 57%;
    font-size: 43px;
    display: flex;
    padding: 15px 0px 0px 80px;
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    width: 39%;
    height: 100%;
    font-size: 18px;
    font-weight: 100;
    padding: 20px 0px 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thirdSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 55px 0px 55px;
    position: relative;
}

.thirdSection div {
    width: 30vw;
    display: flex;
    background-color: #9767A9;
    color: white;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.5vh;
    flex-direction: column;
    padding: 10px 25px 18px 25px;
}

.thirdSection div h5 {
    font-size: 3vh;
    font-family: 'Playfair Display';
    padding-bottom: 15px;
}

.fotoOne img {
    width: 42vw;
    position: relative;
    right: 3vw;
    bottom: 4vw;
}

.textOne {
    position: absolute;
    right: 56vw;
    top: 32vh;
}

.fotoTwo img {
    width: 42vw;
    position: absolute;
    left: 50vw;
    top: 16vw;
}

.textTwo {
    position: absolute;
    left: 56vw;
    top: 41vw;
    height: 23vw;
}

.fotoThree img {
    width: 42vw;
    position: absolute;
    top: 51vw;
    right: 50vw;
}

.textThree {
    position: absolute;
    right: 56vw;
    top: 76vw;
    height: 18vw;
}

.fotoFour img {
    width: 42vw;
    position: absolute;
    top: 68.5vw;
    left: 50vw;
}

.textFour {
    position: absolute;
    left: 56vw;
    top: 100vw;
    height: 20vw;
}

.fotoFive img {
    width: 42vw;
    position: absolute;
    top: 103.5vw;
    right: 50vw;
}

.textFive {
    position: absolute;
    right: 56vw;
    top: 128vw;
    height: 20vw;
}

.fotoSix img {
    width: 42vw;
    position: absolute;
    left: 50vw;
    top: 122vw;
}

.textSix {
    position: absolute;
    left: 56vw;
    top: 152vw;
    height: 19vw;
}

.fotoSeven img {
    width: 42vw;
    position: absolute;
    right: 50vw;
    top: 157vw;
}

.textSeven {
    position: absolute;
    right: 56vw;
    top: 181.8vw;
    height: 15vw;
}

.fotoEight img {
    position: absolute;
    left: 55.5vw;
    top: 180vw;
    width: 30vw;
}

.fourthSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 168vw;
    padding: 0px 0px 0px 55px;
    height: 75vh;
}
.negroCoroa img {
    width: 20.5vw;
    position: absolute;
    left: 6.61vw;
}

.gloriaMaria img {
    width: 20.5vw;
    position: absolute;
    top: 31.5vw;
    left: 6.61vw;
}

.beyonce img {
    width: 13.5vw;
    position: absolute;
    left: 27.8vw;
}

.michaelJordan img {
    width: 13.5vw;
    height: 13;
    position: absolute;
    left: 27.8vw;
    top: 16.1vw;
}

.thaisAraujo img {
    width: 13.5vw;
    position: absolute;
    height: 12.41vw;
    left: 27.8vw;
    top: 31.4vw;
}

.modeloCigarro img {
    width: 13.6vw;
    height: 30.7vw;
    position: absolute;
    left: 42.1vw;
}
.snoopyDog img {
    width: 13.6vw;
    position: absolute;
    left: 42.1vw;
    top: 31.4vw;
}

.cabeludo img {
    width: 20.5vw;
    position: absolute;
    left: 56.5vw;
}

.sorrisoPenteado img {
    width: 14vw;
    position: absolute;
    left: 77.8vw;
}

.barbudo img {
    width: 14vw;
    height: 30.2vw;
    left: 77.8vw;
    top: 13.6vw;
    position: absolute;
}

footer{
    background-color: #9767A9;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 163vw;
    height: 5vw;
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
footer p{
    display: flex;
    align-items: center;
    font-size: 0.9vw;
    width: 60vw;
}
.copyright{
    display: none;
}
footer section{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
button{
    height: 5vw;
    width: 7.8vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #9767A9;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 3vh;
}
.previousPage{
    background-image: url('./imagens desafio final/seta\ esquerda.png');
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: 8%;
}
.backTop{
    background-image: url('./imagens desafio final/seta\ para\ cima.png');
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: 8%;
}
.nextPage{
    background-image: url('./imagens desafio final/seta\ direita.png');
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: 8%;
}

button:hover{
    background-color: white;
    opacity: 0.5;    
}
@media (max-width:600px) {
    header {
        height: 8vw;
    }

    .logo img {
        width: 12vw;
    }

    .menuHamburguer {
        display: flex;
        position: absolute;
        height: 8vw;
        right: 90.5%;
    }

    header nav {
        display: none;
    }

    input {
        display: none;
    }

    .socialNetworks {
        display: none;
    }

    .firstSection {
        background-position: 35%;
        background-size: cover;
        background-attachment: scroll;
    }

    .firstSection h1 {
        position: absolute;
        top: 15%;
        right: 50%;
        font-size: 8vh;
        width: 230px;
        line-height: 60px;
        letter-spacing: 2px;
    }

    .firstSection h2 {
        position: absolute;
        top: 49%;
        right: 49%;
        width: 230px;
        font-size: 21px;
    }

    .secondSection {
        flex-direction: column;
        align-items: center;
        height: 61vh;
    }

    .secondSection h3 {
        width: 60vh;
        font-size: 4vh;
        padding: 0px 0px 0px 15px;
    }

    .secondSection p {
        font-size: 2.5vh;
        padding: 0px 0px 25px 0px;
        width: 60vh;
    }

    .thirdSection {
        position: relative;
    }

    .thirdSection div {
        width: 100%;
    }

    div h5 {
        font-size: 4vh;
        width: 45vh;
        padding: 0px 20px 5px 30px;
    }

    .fotoOne img {
        position: absolute;
        width: 82vw;
        top: 3vw;
        right: 9vw;
    }

    .textOne p {
        padding: 0px 20px 15px 30px;
        width: 53vh;
        font-size: 2.4vh;
    }

    .textOne {
        position: absolute;
        left: 0.1px;
        width: 100%;
        height: 67vh;
    }

    .fotoTwo img {
        position: absolute;
        width: 82vw;
        top: 135vw;
        left: 9vw;
    }

    .textTwo {
        position: absolute;
        left: 0.1px;
        top: 193vw;
        width: 100%;
        height: 65vh;
    }

    .textTwo p {
        padding: 0px 20px 15px 30px;
        width: 53vh;
        font-size: 2.4vh;
    }

    .fotoThree img {
        position: absolute;
        width: 82vw;
        top: 283vw;
        left: 9vw;
    }

    .textThree {
        left: 0.1px;
        top: 336vw;
        width: 100%;
        height: 36vh;
    }

    .textThree p {
        padding: 0px 20px 0px 30px;
        font-size: 2.4vh;
    }

    .fotoFour img {
        position: absolute;
        top: 388vw;
        width: 82vw;
        left: 9vw;
    }

    .textFour {
        position: absolute;
        left: 0.1px;
        top: 451vw;
        width: 100%;
        height: 35vh;
    }

    .textFour h5 {
        width: 47vh;
    }

    .textFour p {
        font-size: 2.4vh;
        padding: 0px 20px 0px 30px;
    }

    .fotoFive img {
        position: absolute;
        top: 501vw;
        width: 82vw;
        left: 9vw;
    }

    .textFive {
        position: absolute;
        left: 0.1px;
        top: 549vw;
        width: 100%;
        height: 43vh;
    }

    .textFive p {
        font-size: 2.4vh;
        padding: 0px 20px 0px 30px;
    }

    .fotoSix img {
        position: absolute;
        top: 610vw;
        width: 82vw;
        left: 9vw;
    }

    .textSix {
        position: absolute;
        left: 0.1px;
        top: 670vw;
        width: 100%;
        height: 40vh;
    }

    .textSix p {
        font-size: 2.4vh;
        padding: 0px 20px 0px 30px;
    }

    .fotoSeven img {
        position: absolute;
        top: 727vw;
        width: 82vw;
        left: 9vw;
    }

    .textSeven {
        position: absolute;
        left: 0.1px;
        top: 785vw;
        width: 100%;
        height: 34vh;
    }

    .textSeven p {
        font-size: 2.4vh;
        padding: 0px 20px 0px 30px;
    }

    .fotoEight img {
        position: absolute;
        top: 835vw;
        width: 50vw;
        left: 23vw;
    }
    .fourthSection{
        position: relative;
        top: 850vw;
        padding: 0px;
        height: 100vw;
    }
    footer{
        position: relative;
        top: 854vw;
    }
    .fourthSection{
        position: relative;
        height: 180vw;
    }
    .negroCoroa img{
        position: absolute;
        width: 41vw;
    }
    .beyonce img{
        position: absolute;
        width: 20vw;
        left: 71.9vw;
    }
    .michaelJordan img{
        position: absolute;
        width: 20.8vw;
        height: 23vw;
        left: 49.4vw;
        top: 0vw;
    }
    .gloriaMaria img{
        position: absolute;
        top: 64vw;
        width: 85.2vw;
    }
    .thaisAraujo img{
        position: absolute;
        left: 49.4vw;
        top: 25vw;
        width: 42.5vw;
        height: 36.5vw;
    }
    .cabeludo img{
        position: absolute;
        width: 19vw;
        height: 41vw;
        top: 117.5vw;
        left: 6.71vw;
    }
    .snoopyDog img{
        position: absolute;
        top:161.7vw;
        left: 28vw;
        z-index: 2;
        width: 19vw;
    }
    .modeloCigarro img{
        position: absolute;
        width: 42.5vw;
        height: 61.5vw;
        top: 117.5vw;
        left: 49.3vw;
    }
    .sorrisoPenteado img{
        position: absolute;
        top: 161.5vw;
        left: 6.71vw;
        width: 19vw;
    }
    .barbudo img{
        position: absolute;
        top: 117.5vw;
        left:28vw;
        width: 19vw ;
        height: 41vw;
    }
    footer{
        position: relative;
        background-color: white;
        color: black;
        height: 30vw;
    }
    .copyright{
        display: flex;
        position: absolute;
        font-size: 3vw;
        font-weight: 600;
        top: 15vw;
        right: 34vw;
    }
    .footerParagraph{
        font-size: 2.3vw;
        width: 90vw;
        padding: 0px 0px 20px 20px;
        top: 17vw;
        display: flex;
        align-items: flex-end;
    }
    .previousPage{
        display: none;
    }
    .backTop{
        display: none;
    }
    .nextPage{
        display: none;
    }
    button{
        border-radius: 100%;
        width: 5vw;
        height: 5vw;
    }
    .anterior{        
        position: absolute;
        bottom: 20vw;
        right: 20vw;
        background-image: url('./imagens desafio final/seta\ esquerda\ mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .topo{
        position: absolute;
        bottom: 20vw;
        right: 14vw;
        background-image: url('./imagens desafio final/seta\ para\ cima\ mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .proxima{
        position: absolute;
        bottom: 20vw;
        right: 8vw;
        background-image: url('./imagens desafio final/seta\ direita\ mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

}